  body {
    font-family: Arial, sans-serif;
    font-size: 1.0rem;
  }
  
  h1 {
    font-size: 2.4rem;
    text-align: center;
  }
  
  h3 {
      font-size: 2.0rem;
      text-align: center;
  }
  
  form {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1.4rem;
  }
  
  input[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: rgb(3,169,244);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  input[type="submit"]:hover {
    background-color: rgb(16 140 196);
  }
  
  table {
    margin: 0 auto;
    width: 50%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: #fff;
  }
  
ul {
  max-width: 1200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 14.5rem;
}

li {
    font-size: 1.2rem;
}
  
footer {
  background-color: #eeeeee;
  width: 100%;
  margin-left: -8px;
  height: 21rem;
  padding-bottom: 10rem;
  bottom: -10rem;
  text-align: center;
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer h4 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 20px;
}

footer p {
  font-size: 1.2rem;
  line-height: 1.8;
}

/* 将链接转换为按钮 */
a {
  text-decoration: none;
  background-color: #eeeeee; /* 中灰色 */
  color: #000000;
}

a:hover {
  background-color: #cccccc; 
}

#add_result {
    margin-top: 15px;
    height: 3em;
    position: absolute;
    z-index: 10;
    left:0;
    right:0;
}

#add_btn {
    transition: opacity 0.3s ease, pointer-events 0.3s ease;
}

#add_btn.disabled {
    pointer-events: none; /* 禁止用户交互 */
    opacity: 0.5; /* 降低透明度，显示禁用状态 */
}